body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-zoom: none;
    color: #F5F5F7;
    display: grid;
    font-size: min(2.5vh, 2.5vw);
    scrollbar-width: 0;
    width: 100vw;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 0;
}

#myVideo {
    position: fixed;
    justify-self: center;
    align-self: center;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

section {
    justify-self: center;
    align-self: center;
    position: fixed;
    z-index: 2000;
    text-align: center;
}

div {
    z-index: 2001;
    background-color: black;
    color: #F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > button {
    width: 12vw;
    height: 6vh;
    background-color: #F5F5F7;
    color: black;
}